
<h1>個人情報を編集する</h1>

<%= render 'form', user: @user %>
<%# if @user == current_user %>
<%#= link_to '確認', @user , class: "btn btn-xs btn-primary" %>
<%# end %>
<%#= link_to '戻る', root_path  , class: "btn btn-xs btn-primary"%>
