<h1>Gmaps</h1>
<div id="gmaps"></div>
<br>
<%= javascript_tag do %>
  var addresses = <%= raw @gmaps.to_json %>;
<% end %>
<div class="text-center"><%= link_to 'マーカー情報を登録する',users_touroku_path %></div>
<p>
  <script type="text/javascript">
    initMap();
  </script>
<!-- <div class="text-center"><%#= link_to 'マーカーをすべて表示', gmaps_path %></div> -->
</p>
